<div class="ui padded grid">
  <div class="row black">
    <div class="two wide column">
      <a href="/" class="ui image">
        <img src="assets/images/white_logo.png">
      </a>
    </div>
    <div class="seven wide column bottom aligned">
      <div class="ui fluid action input">
        <input type="text" placeholder="Search...">
        <button class="ui icon primary button">
          <i class="search icon"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="four column row black">
    <div class="right floated column">
      <div id="menu-grid" class="ui grid">
        <div class="eight wide column bottom aligned no-bottom-padding">
          <app-accounts-dropdown></app-accounts-dropdown>
        </div>
        <div class="six wide column bottom aligned no-bottom-padding">
          <app-cart-button></app-cart-button>
        </div>
      </div>
    </div>
  </div>
</div>
